<!DOCTYPE html>
<html lang="en">
<head>
    <title>Security Team Weekly Update</title>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: left;
  }

  a {
    color: #0066CC;
    font-family: helvetica;
    text-decoration: none;
  }

  a:visited {
    color: green;
  }

  a:hover {
    color: blue;
    text-decoration: underline;
  }

</style>
</head>


</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
